@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ITokenService TokenService

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
	<footer>
        <div class="bottom-navigation">
            <div @onclick="() => GoDone()" class="btn-bottom-navigation">
                <img src="img/Done.png" alt="Favorities" />
                <span>Done</span>
            </div>
            <div @onclick="() => GoHome()" class="btn-bottom-navigation">
                <img src="img/home.png" alt="Home" />
                <span>Home</span>
            </div>
            <div @onclick="() => GoLeave()" class="btn-bottom-navigation">
                <img src="img/leave.png" alt="Leave" />
                <span>Leave</span>
            </div>
        </div>
	</footer>
</div>


@code{
	private void GoDone()
	{
		Navigation.NavigateTo("/Done");
	}

	private void GoHome()
	{
		Navigation.NavigateTo("/Home");
	}

	private async Task GoLeave()
	{
		await TokenService.RemoveTokenAsync();
		Navigation.NavigateTo("/");
	}
}